# Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder
import random
pd.set_option('display.max_columns',None)

import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import OrdinalEncoder

import warnings
warnings.filterwarnings("ignore")

# fechas
from datetime import datetime

# gráficos
import seaborn as sns
import matplotlib.pyplot as plt

# preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures

# algoritmos de clasificación
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

# algoritmos de regresión
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# métricas
import sklearn.metrics as metrics

# hiperparametrización
from sklearn.model_selection import GridSearchCV

# TensorFlow y tf.keras
import tensorflow as tf
from tensorflow import keras

import xgboost as xgb

from numpy import random
random.seed(42)

from sklearn.model_selection import train_test_split

Cargamos los datos

In [3]:
file_path = "C:/Users/Herre/Desktop/TFM/Nuclio_EasyMoney/0_Data/df_preprocessing.csv"
df_encoding = pd.read_csv(file_path)

In [12]:
df_encoding

,pk_cid,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,pk_partition,country_id,region_code,gender,age,deceased,salary
0,1297423,2017-08-18,Otros,0.0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2018-07-28,ES,28.0,H,47,N,192902.31
1,1087842,2015-10-24,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2018-07-28,ES,41.0,H,26,N,2783985.75
2,1147514,2016-07-25,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2018-07-28,ES,16.0,H,22,N,81755.43
3,1147863,2016-07-25,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2018-07-28,ES,2.0,H,22,N,81755.43
4,1147587,2016-07-25,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2018-07-28,ES,8.0,V,22,N,81755.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445484,1164494,2016-08-13,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2019-05-28,ES,30.0,H,22,N,67228.32
445485,1164521,2016-08-13,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-05-28,ES,2.0,V,24,N,43249.20
445486,1164462,2016-08-13,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-05-28,ES,13.0,H,25,N,94495.50
445487,1164587,2016-08-13,KHE,1.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-05-28,ES,46.0,V,22,N,177287.82
445488,1489273,2018-10-24,Otros,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2019-05-28,ES,22.0,V,28,N,60823.47

In [13]:
df_encoding.isnull().sum()

pk_cid                0
entry_date            0
entry_channel         0
active_customer       0
segment               0
short_term_deposit    0
loans                 0
mortgage              0
funds                 0
securities            0
long_term_deposit     0
em_account_pp         0
credit_card           0
payroll               0
pension_plan          0
payroll_account       0
emc_account           0
debit_card            0
em_account_p          0
em_acount             0
pk_partition          0
country_id            0
region_code           0
gender                0
age                   0
deceased              0
salary                0
dtype: int64

In [14]:
df_encoding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445489 entries, 0 to 445488
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   pk_cid              445489 non-null  int64
 1   entry_date          445489 non-null  object
 2   entry_channel       445489 non-null  object
 3   active_customer     445489 non-null  float64
 4   segment             445489 non-null  object
 5   short_term_deposit  445489 non-null  int64
 6   loans               445489 non-null  int64
 7   mortgage            445489 non-null  int64
 8   funds               445489 non-null  int64
 9   securities          445489 non-null  int64
 10  long_term_deposit   445489 non-null  int64
 11  em_account_pp       445489 non-null  int64
 12  credit_card         445489 non-null  int64
 13  payroll             445489 non-null  float64
 14  pension_plan        445489 non-null  float64
 15  payroll_account     445489 non-null  int64
 16  emc_account         445489 non-null  int64
 17  debit_card          445489 non-null  int64
 18  em_account_p        445489 non-null  int64
 19  em_acount           445489 non-null  int64
 20  pk_partition        445489 non-null  object
 21  country_id          445489 non-null  object
 22  region_code         445489 non-null  float64
 23  gender              445489 non-null  object
 24  age                 445489 non-null  int64
 25  deceased            445489 non-null  object
 26  salary              445489 non-null  float64
dtypes: float64(5), int64(15), object(7)
memory usage: 91.8+ MB

In [15]:
#Nos hemos dado cuenta de que las columnas "entry_date" y "pk_partition" se han vuelto a convertir en tipo Object
df_encoding['entry_date'] = pd.to_datetime(df_encoding['entry_date'], errors='coerce', format='%Y-%m-%d')
df_encoding['pk_partition'] = pd.to_datetime(df_encoding['pk_partition'], errors='coerce', format='%Y-%m-%d')

Necesitamos que todas las columnas sean numéricas, así que vamos a convertir las columnas de fechas a numéricas pero sin perder información.

In [16]:
# Crear columnas separadas para año, mes y día
df_encoding['entry_date_year'] = df_encoding['entry_date'].dt.year
df_encoding['entry_date_month'] = df_encoding['entry_date'].dt.month
df_encoding['entry_date_day'] = df_encoding['entry_date'].dt.day
df_encoding['entry_date_weekday'] = df_encoding['entry_date'].dt.weekday  # 0=Monday, 6=Sunday

In [17]:
df_encoding['pk_partition_year'] = df_encoding['pk_partition'].dt.year
df_encoding['pk_partition_month'] = df_encoding['pk_partition'].dt.month
df_encoding['pk_partition_day'] = df_encoding['pk_partition'].dt.day
df_encoding['pk_partition_weekday'] = df_encoding['pk_partition'].dt.weekday  # 0=Monday, 6=Sunday

In [18]:
#Como ya hemos creado una columna para años, mes, dia y día de la semana. Podemos elimianr la columna original
df_encoding.drop(columns=['entry_date'], inplace=True)
df_encoding.drop(columns=['pk_partition'], inplace=True)

# One Hot Encoding

In [19]:
df_encoding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445489 entries, 0 to 445488
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   pk_cid                445489 non-null  int64
 1   entry_channel         445489 non-null  object
 2   active_customer       445489 non-null  float64
 3   segment               445489 non-null  object
 4   short_term_deposit    445489 non-null  int64
 5   loans                 445489 non-null  int64
 6   mortgage              445489 non-null  int64
 7   funds                 445489 non-null  int64
 8   securities            445489 non-null  int64
 9   long_term_deposit     445489 non-null  int64
 10  em_account_pp         445489 non-null  int64
 11  credit_card           445489 non-null  int64
 12  payroll               445489 non-null  float64
 13  pension_plan          445489 non-null  float64
 14  payroll_account       445489 non-null  int64
 15  emc_account           445489 non-null  int64
 16  debit_card            445489 non-null  int64
 17  em_account_p          445489 non-null  int64
 18  em_acount             445489 non-null  int64
 19  country_id            445489 non-null  object
 20  region_code           445489 non-null  float64
 21  gender                445489 non-null  object
 22  age                   445489 non-null  int64
 23  deceased              445489 non-null  object
 24  salary                445489 non-null  float64
 25  entry_date_year       445489 non-null  int32
 26  entry_date_month      445489 non-null  int32
 27  entry_date_day        445489 non-null  int32
 28  entry_date_weekday    445489 non-null  int32
 29  pk_partition_year     445489 non-null  int32
 30  pk_partition_month    445489 non-null  int32
 31  pk_partition_day      445489 non-null  int32
 32  pk_partition_weekday  445489 non-null  int32
dtypes: float64(5), int32(8), int64(15), object(5)
memory usage: 98.6+ MB

In [20]:
Columnas_OHE = ["entry_channel", "country_id", "gender", "deceased"]

In [21]:
# Convertir las variables categóricas en variables dummy
df_encoding = pd.get_dummies(data=df_encoding, columns=Columnas_OHE, dtype=int)

In [22]:
df_encoding

,pk_cid,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,region_code,age,salary,entry_date_year,entry_date_month,entry_date_day,entry_date_weekday,pk_partition_year,pk_partition_month,pk_partition_day,pk_partition_weekday,entry_channel_KFC,entry_channel_KHE,entry_channel_KHQ,entry_channel_Otros,country_id_ES,gender_H,gender_V,deceased_N,deceased_S
0,1297423,0.0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,28.0,47,192902.31,2017,8,18,4,2018,7,28,5,0,0,0,1,1,1,0,1,0
1,1087842,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,41.0,26,2783985.75,2015,10,24,5,2018,7,28,5,0,1,0,0,1,1,0,1,0
2,1147514,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,16.0,22,81755.43,2016,7,25,0,2018,7,28,5,0,1,0,0,1,1,0,1,0
3,1147863,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2.0,22,81755.43,2016,7,25,0,2018,7,28,5,0,1,0,0,1,1,0,1,0
4,1147587,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,8.0,22,81755.43,2016,7,25,0,2018,7,28,5,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445484,1164494,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,30.0,22,67228.32,2016,8,13,5,2019,5,28,1,0,1,0,0,1,1,0,1,0
445485,1164521,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2.0,24,43249.20,2016,8,13,5,2019,5,28,1,0,1,0,0,1,0,1,1,0
445486,1164462,0.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,13.0,25,94495.50,2016,8,13,5,2019,5,28,1,0,1,0,0,1,1,0,1,0
445487,1164587,1.0,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,46.0,22,177287.82,2016,8,13,5,2019,5,28,1,0,1,0,0,1,0,1,1,0
445488,1489273,1.0,02 - PARTICULARES,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,22.0,28,60823.47,2018,10,24,2,2019,5,28,1,0,0,0,1,1,0,1,1,0

# Ordinal Encoding

Suponemos que los números junto a las variables de las columnas nos dicen la importancia de las mismas

In [23]:
# Crear un diccionario para el mapeo de valores
ordinal_mapping = {
    'Unknown': 0,
    '03 - UNIVERSITARIO': 1,
    '02 - PARTICULARES': 2,
    '01 - TOP': 3
}

# Aplicar el mapeo a la columna 'segment'
df_encoding['segment'] = df_encoding['segment'].map(ordinal_mapping)

## Borrar columnas duales

In [25]:
# Eliminar las columnas especificadas
df_encoding.drop(columns=["gender_H", "deceased_N"], inplace=True)

In [24]:
df_encoding

,pk_cid,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,region_code,age,salary,entry_date_year,entry_date_month,entry_date_day,entry_date_weekday,pk_partition_year,pk_partition_month,pk_partition_day,pk_partition_weekday,entry_channel_KFC,entry_channel_KHE,entry_channel_KHQ,entry_channel_Otros,country_id_ES,gender_H,gender_V,deceased_N,deceased_S
0,1297423,0.0,2,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,28.0,47,192902.31,2017,8,18,4,2018,7,28,5,0,0,0,1,1,1,0,1,0
1,1087842,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,41.0,26,2783985.75,2015,10,24,5,2018,7,28,5,0,1,0,0,1,1,0,1,0
2,1147514,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,16.0,22,81755.43,2016,7,25,0,2018,7,28,5,0,1,0,0,1,1,0,1,0
3,1147863,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,2.0,22,81755.43,2016,7,25,0,2018,7,28,5,0,1,0,0,1,1,0,1,0
4,1147587,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,8.0,22,81755.43,2016,7,25,0,2018,7,28,5,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445484,1164494,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,30.0,22,67228.32,2016,8,13,5,2019,5,28,1,0,1,0,0,1,1,0,1,0
445485,1164521,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,2.0,24,43249.20,2016,8,13,5,2019,5,28,1,0,1,0,0,1,0,1,1,0
445486,1164462,0.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,13.0,25,94495.50,2016,8,13,5,2019,5,28,1,0,1,0,0,1,1,0,1,0
445487,1164587,1.0,1,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,46.0,22,177287.82,2016,8,13,5,2019,5,28,1,0,1,0,0,1,0,1,1,0
445488,1489273,1.0,2,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1,22.0,28,60823.47,2018,10,24,2,2019,5,28,1,0,0,0,1,1,0,1,1,0

# Exportamos el archivo para pasar a la segmentación

In [26]:
# Guardar resultados
df_encoding.to_csv('df_encoding.csv', index=False)