In [1]:
import pandas as pd

Cargamos los datos con el dataframe que salió al hacer el Encoding, necesitamos un dataframe sin las nuevas Features que creamos en la Segmentación porque nos afecta de manera negativa a la hora de hacer los modelos de Clasificación.

In [3]:
# Carga datos desde aquí

ruta_archivo = "C:/Users/Herre/Desktop/TFM/Nuclio_EasyMoney/0_Data/df_encoding.csv"

# Leer el archivo
df_agrupacion = pd.read_csv(ruta_archivo)

Agrupamos los productos en 3 grupos diferentes para poder hacer el modelo de Clasificación

In [4]:
# Categoría de Ahorro e Inversión
df_agrupacion['category_investment'] = (
    df_agrupacion['short_term_deposit'] +
    df_agrupacion['long_term_deposit'] +
    df_agrupacion['funds'] +
    df_agrupacion['securities'] +
    df_agrupacion['pension_plan']
)

# Categoría de Financiación
df_agrupacion['category_financing'] = (
    df_agrupacion['loans'] +
    df_agrupacion['mortgage'] +
    df_agrupacion['credit_card']
)

# Categoría de Cuentas
df_agrupacion['category_accounts'] = (
    df_agrupacion['em_account_pp'] +
    df_agrupacion['emc_account'] +
    df_agrupacion['em_account_p'] +
    df_agrupacion['em_acount'] +
    df_agrupacion['payroll_account'] +
    df_agrupacion['payroll'] +
    df_agrupacion['debit_card']
)

In [5]:
df_agrupacion

,pk_cid,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,...,entry_channel_KFC,entry_channel_KHE,entry_channel_KHQ,entry_channel_Otros,country_id_ES,gender_V,deceased_S,category_investment,category_financing,category_accounts
0,1297423,0.0,2,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0.0,0,0.0
1,1087842,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0.0,0,0.0
2,1147514,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0.0,0,0.0
3,1147863,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0.0,0,0.0
4,1147587,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445484,1164494,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0.0,0,0.0
445485,1164521,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0.0,0,1.0
445486,1164462,0.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0.0,0,1.0
445487,1164587,1.0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0.0,0,1.0
445488,1489273,1.0,2,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0.0,0,1.0

In [6]:
# Convertir a binario: 1 si el cliente tiene al menos un producto en la categoría, 0 si no tiene ninguno
df_agrupacion['category_investment'] = (df_agrupacion['category_investment'] > 0).astype(int)
df_agrupacion['category_financing'] = (df_agrupacion['category_financing'] > 0).astype(int)
df_agrupacion['category_accounts'] = (df_agrupacion['category_accounts'] > 0).astype(int)

In [7]:
# Eliminar columnas originales si ya no son necesarias
df_agrupacion.drop(['short_term_deposit', 'long_term_deposit', 'funds', 'securities',
                  'pension_plan', 'loans', 'mortgage', 'credit_card', 'em_account_pp',
                  'emc_account', 'em_account_p', 'em_acount', 'payroll_account', 
                  'payroll', 'debit_card'], axis=1, inplace=True)

In [8]:
df_agrupacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445489 entries, 0 to 445488
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   pk_cid                445489 non-null  int64
 1   active_customer       445489 non-null  float64
 2   segment               445489 non-null  int64
 3   region_code           445489 non-null  float64
 4   age                   445489 non-null  int64
 5   salary                445489 non-null  float64
 6   entry_date_year       445489 non-null  int64
 7   entry_date_month      445489 non-null  int64
 8   entry_date_day        445489 non-null  int64
 9   entry_date_weekday    445489 non-null  int64
 10  pk_partition_year     445489 non-null  int64
 11  pk_partition_month    445489 non-null  int64
 12  pk_partition_day      445489 non-null  int64
 13  pk_partition_weekday  445489 non-null  int64
 14  entry_channel_KFC     445489 non-null  int64
 15  entry_channel_KHE     445489 non-null  int64
 16  entry_channel_KHQ     445489 non-null  int64
 17  entry_channel_Otros   445489 non-null  int64
 18  country_id_ES         445489 non-null  int64
 19  gender_V              445489 non-null  int64
 20  deceased_S            445489 non-null  int64
 21  category_investment   445489 non-null  int32
 22  category_financing    445489 non-null  int32
 23  category_accounts     445489 non-null  int32
dtypes: float64(3), int32(3), int64(18)
memory usage: 76.5 MB

Revisamos las distribuciones de los 3 grupos de productos.

In [10]:
# Revisar la distribución de la variable objetivo
df_agrupacion['category_investment'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_investment
0    0.943525
1    0.056475
Name: proportion, dtype: float64

In [11]:
# Revisar la distribución de la variable objetivo
df_agrupacion['category_financing'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_financing
0    0.989205
1    0.010795
Name: proportion, dtype: float64

In [12]:
# Revisar la distribución de la variable objetivo
df_agrupacion['category_accounts'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_accounts
1    0.735805
0    0.264195
Name: proportion, dtype: float64

In [13]:
df_agrupacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445489 entries, 0 to 445488
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   pk_cid                445489 non-null  int64
 1   active_customer       445489 non-null  float64
 2   segment               445489 non-null  int64
 3   region_code           445489 non-null  float64
 4   age                   445489 non-null  int64
 5   salary                445489 non-null  float64
 6   entry_date_year       445489 non-null  int64
 7   entry_date_month      445489 non-null  int64
 8   entry_date_day        445489 non-null  int64
 9   entry_date_weekday    445489 non-null  int64
 10  pk_partition_year     445489 non-null  int64
 11  pk_partition_month    445489 non-null  int64
 12  pk_partition_day      445489 non-null  int64
 13  pk_partition_weekday  445489 non-null  int64
 14  entry_channel_KFC     445489 non-null  int64
 15  entry_channel_KHE     445489 non-null  int64
 16  entry_channel_KHQ     445489 non-null  int64
 17  entry_channel_Otros   445489 non-null  int64
 18  country_id_ES         445489 non-null  int64
 19  gender_V              445489 non-null  int64
 20  deceased_S            445489 non-null  int64
 21  category_investment   445489 non-null  int32
 22  category_financing    445489 non-null  int32
 23  category_accounts     445489 non-null  int32
dtypes: float64(3), int32(3), int64(18)
memory usage: 76.5 MB

Nos damos cuenta de que las distribuciones de los grupos de productos están muy descompensadas, es por eso que los datos se deben "balancear"

In [14]:
df_balanceo = df_agrupacion.copy()

In [15]:
# Guardar resultados
df_balanceo.to_csv('df_balanceo.csv', index=False)